.App {
  text-align: center;
}
.Event-Item {
  background-color: aqua;
  font-size: medium;
  min-height: 3vh;
  min-width: 1vw;
  white-space: nowrap;
  outline: solid 1px gray;
}
.TimeSlot {
  min-height: 5vh;
}
.Dayslot {
  outline: solid 1px black;
  font-size: xx-large;
  padding-bottom: 10vh;
  max-height: 6vh;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
